<div
  class="bg-slate-400 h-screen flex flex-col items-center justify-center font-Roboto"
>
  <div class="messageError" *ngIf="messageError">
    {{ messageError }}
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-64">
    <div class="flex justify-center">
      <img class="w-40" [src]="imgLogo" alt="logo" />
    </div>
    <div class="flex flex-col mb-3">
      <label class="border-l-2 border-l-blue-700 pl-1 mb-1">Login:</label>
      <input
        class="rounded-md py-1"
        type="text"
        formControlName="login"
        name="login"
        placeholder=""
      />
    </div>
    <p
      class="text-xs mt-0 mb-2"
      *ngIf="loginForm.touched && loginForm.controls.login.hasError('required')"
    >
      Este campo é obrigatório
    </p>
    <div class="flex flex-col mb-3">
      <label class="border-l-2 border-l-blue-700 pl-1 mb-1">Senha:</label>
      <input
        class="rounded-md py-1"
        type="password"
        formControlName="password"
        name="password"
      />
    </div>
    <p
      class="text-xs mt-0 mb-2"
      *ngIf="
        loginForm.touched && loginForm.controls.password.hasError('required')
      "
    >
      Este campo é obrigatório
    </p>

    <button
      [disabled]="loginForm.controls.password.hasError('required')"
      class="py-1 bg-indigo-700 w-full rounded-sm text-white font-medium mt-5"
      type="submit"
    >
      Entrar
    </button>
    <p class="mt-3 mb-3">
      Não tem uma conta?<a
        class="text-blue-700 pl-3"
        [routerLink]="['/register']"
        >Clique aqui!</a
      >
    </p>
    <p>
      Esqueceu a senha? <a class="text-blue-700 pl-3" href="">Clique aqui</a>
    </p>
  </form>
</div>
